body
  +regular
img
  max-width: 100%
.bg-dark
  background-color: $bg-dark
.phone-link
  text-decoration: none
  color: #ffffff
  font-size: 1.2rem
  opacity: 1
  transition: opacity .3s
  &:hover
    opacity: .7
.button
  font-size: 12px
  padding: 1rem 2rem
  background: rgb(28,98,172);
  background: linear-gradient(201deg, rgba(28,98,172,1) 28%, rgba(33,76,155,1) 49%, rgba(36,65,146,1) 76%, rgba(39,53,136,1) 100%);
  color: #ffffff
  text-decoration: none
  opacity: 1
  transition: opacity .3s
  cursor: pointer
  border: none
  +bold
  &:hover
    opacity: .8
.section
  padding: 80px 0
  text-align: center
  &__title
    font-size: 2rem
.input
  padding: 25px 20px
  width: 300px
  margin-right: 30px
  background-color: #F2F2F2
  border: none
  &:last-child
    margin-right: 0
  &--mail
    background-image: url("../../img/input-icon-2.png")
    background-position: right 5% center
    background-repeat: no-repeat
  &--phone
    background-image: url("../../img/input-icon-1.png")
    background-position: right 5% center
    background-repeat: no-repeat