body
  +regular
img
  max-width: 100%
.bg-dark
  background-color: $bg-dark
.phone-link
  text-decoration: none
  color: #ffffff
  font-size: 1.2rem
  opacity: 1
  transition: opacity .3s
  &:hover
    opacity: .7
.button
  font-size: 12px
  padding: 1rem 2rem
  background: rgb(28,98,172);
  background: linear-gradient(201deg, rgba(28,98,172,1) 28%, rgba(33,76,155,1) 49%, rgba(36,65,146,1) 76%, rgba(39,53,136,1) 100%);
  color: #ffffff
  text-decoration: none
  opacity: 1
  transition: opacity .3s
  cursor: pointer
  +bold
  &:hover
    opacity: .8